[Unit]
Description=Run WiFi reconnect check every minute

[Timer]
OnBootSec=60
OnUnitActiveSec=60
Unit=wifi-reconnect.service

[Install]
WantedBy=timers.target
